html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #3498db;
  display: flex;
  align-items: center;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  justify-content: center;
}
