<mat-card class="block-content-card">
  <mat-card-actions class="mat-card-actions">
    <div class="button-container">
      <ng-container *ngFor="let button of buttons">
        <ng-container *ngIf="button.position === 3">
          <button 
            class="button"
            [style.color]="button.colorText" 
            [style.background-color]="button.colorButton"
            (mouseover)="onMouseover($event, button.type)">{{ button.text }}</button>
        </ng-container>
      </ng-container>
    </div>
    <div class="button-container">
      <ng-container *ngFor="let button of buttons">
        <ng-container *ngIf="button.position === 4">
          <button 
            class="button"
            [style.color]="button.colorText" 
            [style.background-color]="button.colorButton"
            (mouseover)="onMouseover($event, button.type)">{{ button.text }}</button>
        </ng-container>
      </ng-container>
    </div>
  </mat-card-actions>
  <mat-card-content class="mat-card-content">
    <img class="img-cookies" src="../assets/pech23.png" alt="img-cookies">
    <mat-card-title>Heya! This site uses cookies.</mat-card-title>
    <mat-card-subtitle>Cookies allow the website publisher to do useful things like find out whether the computer (and probably its user) has visited the site before.</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions class="mat-card-actions">
    <div class="button-container">
      <ng-container *ngFor="let button of buttons">
        <ng-container *ngIf="button.position === 1">
            <button 
            class="button"
            [style.color]="button.colorText" 
            [style.background-color]="button.colorButton"
            (mouseover)="onMouseover($event, button.type)">{{ button.text }}</button>
        </ng-container>
      </ng-container>
    </div>
    <div class="button-container">
      <ng-container *ngFor="let button of buttons">
        <ng-container *ngIf="button.position === 2">
            <button 
            class="button"
            [style.color]="button.colorText" 
            [style.background-color]="button.colorButton"
            (mouseover)="onMouseover($event, button.type)">{{ button.text }}</button>
        </ng-container>
      </ng-container>
    </div>
  </mat-card-actions>
</mat-card>